In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("Fish.csv", delimiter=",")
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
df['Length'] = (df['Length1'] + df['Length2'] + df['Length3']) /3 

df = df.drop(['Length1', 'Length2', 'Length3'], axis=1)

In [ ]:
names = []
name_dict = {
    "Bream": 0,
    "Roach": 1,
    "Whitefish": 2,
    "Parkki": 3,
    "Perch": 4,
    "Pike": 5,
    "Smelt": 6
}
for name in df['Species']:
    names.append(name_dict[name])
    
df['Species'] = names

In [ ]:
df.head()

   Species  Weight   Height   Width     Length
0        0   242.0  11.5200  4.0200  26.200000
1        0   290.0  12.4800  4.3056  27.166667
2        0   340.0  12.3778  4.6961  27.166667
3        0   363.0  12.7300  4.4555  29.600000
4        0   430.0  12.4440  5.1340  29.833333

In [28]:
# Predict Length - Linear Regression Model

inputs = df.drop(['Length'], axis=1)
outputs = df['Length']

X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size=0.333, random_state=42)

In [29]:
model = LinearRegression().fit(X_train, y_train)

In [30]:
print('Training score: {}'.format(model.score(X_train, y_train)))
print('Testing score: {}'.format(model.score(X_test, y_test)))

Training score: 0.8773350965097082
Testing score: 0.8533107852279054

In [31]:
# Testing it out for custom Data

# Perch, 900, 10, 8

print("Predicted: {}".format(model.predict([[0, 900, 10, 8]])))

Predicted: [46.36292463]

C:\Users\joshi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(